services:
    nginx:
        build:
            context: .
            dockerfile: ./docker/nginx/Dockerfile
        restart: unless-stopped
        tty: true
        ports:
            - 8080:80
        volumes:
            - ./docker/nginx/conf.d:/etc/nginx/conf.d:ro
            - ./docker/nginx/nginx.conf:/etc/nginx/nginx.conf:ro
            - ./:/var/www
        networks:
            - ft-network
    app:
        build:
            context: .
            dockerfile: ./docker/php-fpm/Dockerfile
            args:
                WWWGROUP: '${WWWGROUP}'
                WWWUSER: '${WWWUSER}'
        restart: unless-stopped
        working_dir: /var/www
        extra_hosts:
            - 'host.docker.internal:host-gateway'
        environment:
            WWWUSER: '${WWWUSER}'
        volumes:
            - .:/var/www
            - ./docker/php-fpm/www.conf:/usr/local/etc/php-fpm.d/www.conf
            - ./docker/php-fpm/www.conf:/usr/local/etc/php-fpm.d/zz-docker.conf
            - ./docker/php-fpm/local.ini:/usr/local/etc/php/conf.d/local.ini
        networks:
            - ft-network
        depends_on:
            - pgsql
    pgsql:
        image: 'postgres:18-alpine'
        ports:
            - '${FORWARD_DB_PORT:-5432}:5432'
        environment:
            PGPASSWORD: '${DB_PASSWORD:-secret}'
            POSTGRES_DB: '${DB_DATABASE}'
            POSTGRES_USER: '${DB_USERNAME}'
            POSTGRES_PASSWORD: '${DB_PASSWORD:-secret}'
        volumes:
            - dbdata:/var/lib/postgresql/data
            - './vendor/laravel/sail/database/pgsql/create-testing-database.sql:/docker-entrypoint-initdb.d/10-create-testing-database.sql'
        networks:
            - ft-network
        healthcheck:
            test:
                - CMD
                - pg_isready
                - '-q'
                - '-d'
                - '${DB_DATABASE}'
                - '-U'
                - '${DB_USERNAME}'
            retries: 3
            timeout: 5s

volumes:
    dbdata:
        driver: local

networks:
    ft-network:
        driver: bridge
