services:
    app:
        build:
            context: .
            dockerfile: docker/php/Dockerfile
        working_dir: /var/www
        entrypoint: php artisan octane:frankenphp --workers=1 --max-requests=1 --watch
        restart: unless-stopped
        extra_hosts:
            - 'host.docker.internal:host-gateway'
        volumes:
            - .:/var/www
            - ./docker/php/local.ini:/usr/local/etc/php/conf.d/local.ini
        ports:
            - "8000:8000"
        networks:
            - ft-network
        depends_on:
            - pgsql
    node:
        image: node:20-alpine
        working_dir: /app
        command: sh -c "npm install && npm run dev"
        volumes:
            - ./:/app
        ports:
            - "5173:5173" # Vite dev server
        environment:
            CHOKIDAR_USEPOLLING: true # важно для Docker
    pgsql:
        image: 'postgres:18-alpine'
        ports:
            - '${FORWARD_DB_PORT:-5432}:5432'
        environment:
            PGPASSWORD: '${DB_PASSWORD:-secret}'
            POSTGRES_DB: '${DB_DATABASE}'
            POSTGRES_USER: '${DB_USERNAME}'
            POSTGRES_PASSWORD: '${DB_PASSWORD:-secret}'
        volumes:
            - dbdata:/var/lib/postgresql/data
            - './vendor/laravel/sail/database/pgsql/create-testing-database.sql:/docker-entrypoint-initdb.d/10-create-testing-database.sql'
        networks:
            - ft-network
        healthcheck:
            test:
                - CMD
                - pg_isready
                - '-q'
                - '-d'
                - '${DB_DATABASE}'
                - '-U'
                - '${DB_USERNAME}'
            retries: 3
            timeout: 5s
volumes:
    dbdata:
        driver: local

networks:
    ft-network:
        driver: bridge
